body{
    
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    font-family: 'Sriracha', cursive;
}



@media screen and (max-width:1101px) {

    body{
        background-image: url(media/bg320.jpg);
        background-repeat: repeat;
        max-width: 100%;
        height: 200%;
        font-family: 'Sriracha', cursive;
        }
}