a{
    color: white;
}

a:hover{
    color: black;
    
}


#frame {
    height: 200px;
  }


    #frame {
      animation: App-logo-spin infinite 5s linear;
    }
  

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
